/* AddGenreForm.css */

.add-genre-form {
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-genre-form .field {
    margin-bottom: 1.5rem;
}

.add-genre-form .button {
    width: 100%;
}

.add-genre-form .notification {
    margin-top: 1rem;
}