@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@keyframes blink {
    0% {
        opacity: 1;
        }

        50% {
        opacity: 0.5;
        }

        100% {
        opacity: 1;
        }
    }

.test {
    background-color: rgb(16, 16, 16);
    border-radius: 1rem;
    margin: 1rem;
}

.test button{
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.test Link{
    color: black;
    text-decoration: none;
}

.blink {
    animation: blink 1s step-start infinite;
}   

.grid-container{
    width: -webkit-fill-available;
    padding-left: 10%;
    padding-right: 10%;
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Change the number of columns here */
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    gap: 20px;
    padding: 10px;
}

.news-card{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.news-card .img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    background-color: rgb(168, 176, 184);
}
.card-content{
    padding: 10px;
    height: 20%;
}

.slider-container{
    width: 1200px;
    display: contents;
}


.card-content-genre {
    height: auto;
    /* Permitir que la altura se ajuste dinámicamente */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title.is-5,
.subtitle.is-6 {
    white-space: normal;
    /* Permitir que el texto ocupe varias líneas */
    overflow: hidden;
    text-overflow: ellipsis;
}
/* SongList.css */
.song-grid {
    display: flex  !important;
    flex-wrap: wrap;
    gap: 16px !important;
    padding: 16px !important;
  }
  
  .song-card {
    width: 5rem;
    height: 5rem;
    border: 1px solid #ccc;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('./assets/song.png');
    background-size: cover;
    display: flex;
    flex-direction: row;
  }

  .song-title{
    position: relative;
    z-index: 1;
  }
  .song-card h2 {
    top: 80px;
    font-size: 12px;
  }
  
  .song-card p {
    margin: 4px 0;
  }

  .play-button{
    align-self: center;
    position: relative;
    left: 60%;
    top: 40%;
    font-size: 2rem;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }
  
  .pagination button {
    margin: 0 8px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .main{
    display: flex;
    min-width: 100%;
    flex: 8;
    justify-content: center;
  }

  .with-sidemenu {
    flex: 6;
  }
  
  .without-sidemenu {
    flex: 19;
  }

  .open {
    width: 15%;
  }
  
  .closed {
    width: 5%;
  }
  